In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

In [3]:
df = pd.read_csv("winequality-red.csv")

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
std_scalar =  StandardScaler()
le = LabelEncoder()

In [6]:
X = df[["sulphates","alcohol","density","chlorides","pH","total sulfur dioxide"]]
y = df["quality"].values.astype(int)

In [7]:
X.head()

   sulphates  alcohol  density  chlorides    pH  total sulfur dioxide
0       0.56      9.4   0.9978      0.076  3.51                  34.0
1       0.68      9.8   0.9968      0.098  3.20                  67.0
2       0.65      9.8   0.9970      0.092  3.26                  54.0
3       0.58      9.8   0.9980      0.075  3.16                  60.0
4       0.56      9.4   0.9978      0.076  3.51                  34.0

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state =69,stratify = y)

In [9]:
X_train_scaled = std_scalar.fit_transform(X_train)
X_test_scaled = std_scalar.transform(X_test)
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

In [10]:
rf = RandomForestClassifier(random_state =69)

In [11]:
rf.fit(X_train_scaled,y_train_encoded)

RandomForestClassifier(random_state=69)

In [12]:
accuracy_score(rf.predict(X_test_scaled),y_test_encoded)

0.671875

In [13]:
with open("rf_model.pkl","wb") as f:
    pickle.dump(rf,f)
    
with open("std_scalar.pkl","wb") as f:
    pickle.dump(std_scalar,f)
    
with open("le.pkl","wb") as f:
    pickle.dump(le,f)